@import url(../Source/maket.css);
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,600;1,400;1,500&display=swap');
body{
    background-color: rgb(240, 227, 227);
}
.wrapper {
    height: 100%;
    font-family: 'Exo 2', sans-serif;
    color: #445162;
    padding-bottom: 40px;
}
.header {
    background-color: #445162;
    font-family: 'Comfortaa', cursive;
    display: flex;
    justify-content: space-between;
    border-bottom: 10px solid rgb(240, 227, 227);
}
.header-part1{
    min-width: 550px;
    color: rgb(240, 227, 227);
}
.header-container {
    display: flex;
}

.header-part2{
        display: flex;
        margin-right: 60px;
        font-size: 35px;
        position: relative;
        min-width: 400px;
}
.header-part2-container{
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        
}
.part2__text{
    line-height: 40px;
}
.header__image {
    margin-left: 10px;
    & img{
        width: 200px;
    }
    padding: 10px 0px 10px 0px;
}
.header__text {
    margin: 5px 0px 5px 30px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    letter-spacing: 1px;
}
.header__name {
    font-size: 30px;
}
.header__description {
    font-size: 18px;
    line-height: 20px;
}

.header-part2-animation {
}
.navigation {
    background-color:#445162;
    height: 40px;
    position: sticky;
    top:0px;
    z-index: 1;
}
.navigation-container {
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    padding: 0% 10%;
}
.navigation__button {
    a{
        color: white;
        text-decoration: none;
        font-size: 30px;
        font-family: "Comfortaa", cursive;
        border-left: solid 3px yellow;
        border-right: yellow solid 3px;
    }
}
.contacts {
    margin-top: 30px;
    margin-left: 20px;
}
.contacts-container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.contacts__phone {
}
.contact-animation{
    width: 500px;
    height: 50px;
    position: absolute;
    background-color: red;
}
.contacts__information {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}
.contacts__icon {
    img{
        width: 50px;
    }
}
.contacts__text {
    margin-left: 30px;
    font-size: 20px;
}
.contacts__email {
}
.contacts__vk {
}
.contacts__tg {
}
.secret-button {
    margin: 30px 0px;
    padding-bottom: 25px;
    background-color:#bbb5b5;
}
.secret-button__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
.secret-button__text {
}
.secret-button__button {
    line-height: 45px;
    padding-top: 10px;
    height: 40px;
    margin-top: 10px;
    font-size: 24px;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: rgb(254,1,154);
    color: white;
    box-shadow: 0px 0px 20px rgb(254,1,154) ;
    display: flex;
    a{
        color: white;
        line-height: 30px;
        text-align: center;
    }
}
.secret-button__button a:hover{
    width:300px;
}
.secret-button__button a{
    width: 150px;
    transition-duration: 1s;
    transition-property: width;
}
@media (max-width:900px){
    .navigation{
        height: 80px;
        padding-left: 3%;
    }
}
//заделать на каждый блок контакта анимацию, как на главную страницу и сделать нижнюю кнопку по примеру хобби