@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&display=swap');
@import url(../Source/maket.css);
body{
    background-color: rgb(240, 227, 227);
    animation-name: bgc;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}
@keyframes bgc{
    0%{background-color: rgb(240, 227, 227);
    color: black;
    }
    100%{background-color: black;
    color: white;
    }
}
.wrapper{
}
@media (min-width:1300px){
    .container{
        margin: 0px auto;
    }
}
.container {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display SC', serif;
}
.navigation {
    border-bottom: solid 5px orange;
}
.navigation__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 20px 0px 20px;
    padding-bottom: 10px;

    a{
        text-decoration: none;
        color: orange;
        font-size: 20px;
    }
    
}
.navigation__to-left {
    display: flex;
    align-items: center;

}
.navigation__arrow {
}
.navigation__text {
    margin: 0px 10px;

}
.navigation__to-right {
    display: flex;
    align-items: center;
}
.content {
    padding: 0px 20px;
}
.content-container {
}
.content__body {
    display: flex;
    flex-direction: column;
}
.body-container {
    display: flex;
    flex-direction: row;
}
.content__column1 {
}
.actors {
}
.actors-caontainer {
    display: flex;
    flex-direction: column;
}
.actors__title {
    color: white;
    margin-top: (60px - 24px)/2 + 12px;
    margin-bottom: (60px - 24px)/2;
    font-size: 24px;
    font-style: italic;
    line-height: 24px;
}
.actors__elements {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.actors__image {
    img{
    width: 180px;
    height: 240px;
    }
    margin-bottom: 10px;
}
.actors__name {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center;
    line-height: 24px;
}
.content__column2 {
    position: relative;

}
.column2__image {
    img{
        max-width: 1000px;
        max-height: 1228px;
    }
    margin-left: 67px;
}
.column2__text {
    color: white;
    font-size: 18px;
    line-height: 24px;
    width: 830px;
    margin-left: 135px;
    position: absolute;
    bottom: 15px;
    left: 30px;
}
.video {
    margin-top: 120px;
    text-align: center;
    margin-bottom: 70px;
}
